@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    outline: 0;
    text-decoration: none;
    border: none;
}

:root{
    --primary-color-hue: 600;
    --darkcolor-lightness: 17%;
    --lightcolor-lightness: 95%;
    --whitecolor-lightness: 100%;

    --white-color: hsl(252,30%, var(--whitecolor-lightness));
    --dark-color: hsl(252, 30%, var(--darkcolor-lightness));
    --light-color: hsl(252, 30%, var(--lightcolor-lightness));
    --gray-color: hsl(var(--primary-color-hue), 15%, 65%);
    --primary-color: hsl(var(--primary-color-hue), 75%, 60%);
    --secondary-color: hsl(252, 100%, 90%);
    --success-color: hsla(274, 96%, 65%, 0.934);
    --danger-color: hsl(0, 90%, 65%);
    --black-color: hsl(252, 30%, 10%);

    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --padding-btn: 0.6rem 2rem;
    --padding-search: 0.6rem 1rem;
    --padding-card: 1rem;

    --sticky-topleft: 5.4rem;
    --sticky-topright: -18rem;
}

body{
    font-family: 'Roboto',sans-serif;
    font-weight: 100;
    color: var(--dark-color);
    background-color: var(--light-color);
    overflow-x: hidden;
}


.logo {
    font-family:'Roboto',sans-serif;
    font-weight: 250;
    background-image: linear-gradient(to right, rgb(202, 16, 235),rgb(37, 119, 152));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;

    color: transparent;
    
  }
.container{
    width: 80%;
    margin: 0 auto;
}
.profile-pic{
    width: 2.7rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}
img{
    width: 100%;
    display: block;
}
.btn{
    display: inline-block;
    padding: var(--padding-btn);
    font-weight: 500;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
}
.btn:hover{
    opacity: 0.8;
}
.btn-primary{
    background:var(--primary-color);
    color: white;
}
.text-bold{
    font-weight: 100;
}
.text-muted{
    color: var(--gray-color);
}

/* *************** NAVBAR ******************* */

nav{
    width: 100%;
    background: var(--white-color);
    padding: 0.7rem 0;
    position: fixed;
    top: 0;
    z-index: 10;
}
nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-tab{
    background: var(--white-color);
    border-radius: var(--border-radius);
    padding: var(--padding-search);
}
.search-tab input[type="search"]{
    background: transparent;
    width: 30vm;
    margin-left: 1rem;
    font-size: 0.9rem;
    color:var(--black-color);
}
nav .search-tab input[type="search"]::placeholder{
    color: var(--gray-color);
}
nav .create{
    display: flex;
    align-items: center;
    gap: 2rem;
}

/* main */

main{
    position: relative;
    top: 5.4rem;
}
main .container{
    display: grid;
    grid-template-columns: 18vw auto 20vw;
    column-gap: 2rem;
    position: relative;
}

/* left */

main .container .left{
    height: max-content;
    position: sticky;
    top: var(--sticky-topleft);
}
main .container .left .profile{
    padding: var(--padding-card);
    background: var(--white-color);
    border-radius: var(--card-border-radius);
    display: flex;
    align-items: center;
    width: 100%;
    column-gap: 1rem;
}

/* sidebar */

.left .sidebar{
    margin-top: 1rem;
    background: var(--white-color);
    border-radius: var(--card-border-radius);
}
.left .sidebar .menu{
    display: flex;
    align-items: center;
    height: 4rem;
    cursor: pointer;
    transition: all 300ms ease;
    position: relative;
}
.left .sidebar .menu:hover{
    background: var(--light-color);
}
.left .sidebar i{
    font-size: 1.4rem;
    color: var(--gray-color);
    margin-left: 2rem;
    position: relative;
}
.left .sidebar i .notification-count{
    color: white;
    background: var(--danger-color);
    font-size: 0.7rem;
    width: fit-content;
    border-radius: 0.8rem;
    padding: 0.1rem 0.4rem;
    position: absolute;
    top: -0.2rem;
    right: -1.3rem;
}
.left .sidebar h3{
    margin-left: 1.3rem;
    font-size: 1rem;
}
.left .sidebar .active{
    background: var(--white-color);
}
.left .sidebar .active i, .left .sidebar .active h3{
    color: var(--primary-color);
}
.left .sidebar .active::before{
    content: "";
    display: block;
    width: 0.5rem;
    height: 100%;
    position: absolute;
    background: var(--primary-color);
}
.left .sidebar .menu:first-child.active{
    border-top-left-radius: var(--card-border-radius);
    overflow: hidden;
}
.left .sidebar .menu:last-child.active{
    border-bottom-left-radius: var(--card-border-radius);
    overflow: hidden;
}
.left .btn{
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}

/* notification pop ups */

.left .notifications-popups{
    position: absolute;
    top: 0;
    left: 110%;
    width: 30rem;
    background: var(--white-color);
    border-radius: var(--card-border-radius);
    padding: var(--padding-card);
    box-shadow: 0 0 2rem hsl(var(--primary-color), 75%, 60%, 25%);
    z-index: 8;
    display: none;
}
.left .notifications-popups::before{
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    display: block;
    background: var(--white-color);
    position: absolute;
    left: -0.6rem;
    transform: rotate(45deg);
}
.left .notifications-popups > div{
    display: flex;
    align-items: start;
    gap: 1rem;
    margin-bottom: 1rem;
}
.left .notifications-popups small{
    display: block;
}

/* middle */

.middle .stories{
    display: flex;
    /* justify-content: space-between; */
    height: 12rem;
    gap: 0.5rem;
}
.middle .stories .story{
    padding: var(--padding-card);
    border-radius: var(--card-border-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100%;
    font-size: 0.75rem;
    position: relative;
    overflow: hidden;
}
.middle .stories .story:nth-child(1){
    background: url("images/Newfolder/20210912_184219.jpg") no-repeat center center/cover;
}
.middle .stories .story:nth-child(2){
    background: url("images/Newfolder/20211002_122204.jpg") no-repeat center center/cover;
}
.middle .stories .story:nth-child(3){
    background: url("images/Newfolder/20211002_122702.jpg") no-repeat center center/cover;
}
.middle .stories .story:nth-child(4){
    background: url("images/Newfolder/20211002_122734.jpg") no-repeat center center/cover;
}
.middle .stories .story:nth-child(5){
    background: url("images/Newfolder/20211002_122745.jpg") no-repeat center center/cover;
}
.middle .stories .story:nth-child(6){
    background: url("images/Newfolder/20211009_175113.jpg") no-repeat center center/cover;
}
.middle .stories .story::before{  
    content: "";
    display: block;
    width: 100%;
    height: 5rem;
    position: absolute;
    bottom: 0;
    background: linear-gradient(transparent, rgba(0,0,0,0.75));
}
.middle .stories .story .name{
    z-index: 2;
}
.middle .stories .profile-pic{
    width: 2rem;
    height: 2rem;
    align-self: start;
    border: 3px solid var(--primary-color);
}
.middle .create-post{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    background: var(--white-color);
    border-radius: var(--border-radius);
    padding: 0.4rem var(--padding-card);
}
.middle .create-post input[type="text"]{
    justify-self: start;
    width: 100%;
    padding-left: 1rem;
    background: transparent;
    color: var(--dark-color);
    margin-right: 1rem;
}
.middle .feeds .feed{
    background: var(--white-color);
    border-radius: var(--card-border-radius);
    padding: var(--padding-card);
    margin: 1rem 0;
    font-size: 0.85rem;
    line-height: 1.5rem;
}
.middle .feed .head{
    display: flex;
    justify-content: space-between;
}
.middle .feed .user{
    display: flex;
    gap: 1rem;
}
.middle .feed .photo{
    border-radius: var(--card-border-radius);
    overflow: hidden;
    margin: 0.7rem 0;
}
.middle .feed .action-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    margin: 0.6rem;
}
.middle .likedby{
    display: flex;
}
.middle .likedby span{
    width: 1.4rem;
    height: 1.4rem;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--white-color);
    margin-left: -0.6rem;
}
.middle .likedby span:nth-child(1){
    margin: 0;
}
.middle .likedby p{
    margin-left: 0.5rem;
}

/* right */

main .container .right{
    height: max-content;
    position: sticky;
    top: var(--sticky-topright);
    bottom: 0;
}
.right .messages{
    background: var(--white-color);
    border-radius: var(--card-border-radius);
    padding: var(--padding-card);
}
.right .messages .heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.right .messages i{
    font-size: 1.4rem;
}
.right .messages .search-tab{
    display: flex;
    margin-bottom: 1rem;
}
.right .messages .category{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.right .messages .category h6{
    width: 100%;
    text-align: center;
    border-bottom: 4px solid var(--light-color);
    padding-bottom: 0.5rem;
    font-size: 0.85rem;
}
.right .messages .category .active{
    border-color: var(--dark-color);
}
.right .messages .message{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: start;
}

.right .messages .message:last-child{
    margin: 0;
}
.right .messages .message p{
    font-size: 0.8rem;
}
.right .messages .profile-pic{
    position: relative;
    overflow: visible;
}
.right .profile-pic img{
    border-radius: 50%;
}
.right .messages .message .profile-pic .active{
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    border: 3px solid var(--white-color);
    background: var(--success-color);
    position: absolute;
    bottom: 0;
    right: 0;
}
.right .messages .message-requests{
    color: var(--primary-color);
}
.right .friend-requests{
 margin-top: 1rem;
}
.right .friend-requests h4{
    color: var(--gray-color);
    margin: 1rem 0;
}
.right .request{
    background: var(--white-color);
    padding: var(--padding-card);
    border-radius: var(--card-border-radius);
    margin-bottom: 0.7rem;
}
.right .request .info{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
.right .request .action{
    display: flex;
    gap: 1rem;
}
/* theme */
.theme-popup{
    background: rgba(255,255,255,0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: center;
    place-items: center;
    display: grid;
    font-size: 0.9rem;
    display: none;
}
.theme-popup .card{
    background: var(--white-color);
    padding: 3rem;
    border-radius: var(--card-border-radius);
    width: 50%;
    box-shadow: 0 0 1rem var(--primary-color);
}
.theme-popup .font-size{
    margin-top: 5rem;
}
.theme-popup .font-size > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--light-color);
    padding: var(--padding-search);
    border-radius: var(--card-border-radius);
}
.theme-popup .choose-size{
    background: var(--secondary-color);
    height: 0.3rem;
    width: 100%;
    margin: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.theme-popup .choose-size span{
    width: 1rem;
    height: 1rem;
    background: var(--secondary-color);
    border-radius: 50%;
    cursor: pointer;
}
.theme-popup .choose-size span.active{
    background: var(--primary-color);
}
.theme-popup .color{
    margin-top: 2rem;
}
.theme-popup .choose-color{
    background: var(--light-color);
    padding: var(--padding-search);
    border-radius: var(--card-border-radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.theme-popup .choose-color span{
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    cursor: pointer;
}
.theme-popup .choose-color span:nth-child(1){
    background: hsl(55, 67%, 65%);
}
.theme-popup .choose-color span:nth-child(2){
    background: hsl(326, 86%, 66%);
}
.theme-popup .choose-color span:nth-child(3){
    background: hsl(34, 89%, 61%);
}
.theme-popup .choose-color span:nth-child(4){
    background: hsl(152, 73%, 78%);
}
.theme-popup .choose-color span:nth-child(6){
    background: hsl(276, 75%, 60%);
}
.theme-popup .choose-color span:nth-child(5){
    background: hsl(202, 55%, 76%);
}
.theme-popup .choose-color span.active{
    border: 5px solid white;
}
.theme-popup .background{
    margin-top: 2rem;
}
.theme-popup .choose-background{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}
.theme-popup .choose-background > div{
    padding: var(--padding-card);
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.4rem;
    cursor: pointer;
}
.theme-popup .choose-background > div.active{
    border: 2px solid var(--primary-color);
}
.theme-popup .choose-background .bg1{
    background: white;
    color: black;
}
.theme-popup .choose-background .bg2{
    background: hsl(252, 30%, 17%);
    color: white;
}
.theme-popup .choose-background .bg3{
    background: hsl(252, 30%, 10%);
    color: white;
}
.theme-popup .choose-background > div span{
    width: 2rem;
    height: 2rem;
    border: 2px solid var(--gray-color);
    border-radius: 50%;
    margin-right: 1rem;
}

/* resposive */

@media  screen and (max-width: 1200px) {
    .container{
        width: 96%;       
    }
    main .container{
        grid-template-columns: 5rem auto 30vw;
        gap: 1rem;
    }
    .left{
        width: 5rem;
        z-index: 5;
    }
    main .container .left .profile{
        display: none;
    }
    .sidebar h3{
        display: none;
    }
    .left .btn{
        display: none;
    }
    .theme-popup .card{
        width: 80vw;
    }
}

@media  screen and (max-width: 992px){
    nav .search-tab{
        display: none;
    }
    main .container{
        grid-template-columns: 0 auto 5rem;
        gap: 0;
    }
    main .container .left{
        grid-column: 3/4;
        position: fixed;
        bottom: 0;
        right: 0;
    }
    .left .notifications-popups::before{
        display: absolute;
        top: 1.3rem;
        left: calc(20rem - 0.6rem);
        display: block;
    }
    main .container .middle{
        grid-column: 1/3;
    }
    main .container .right{
        display: none;
    }
    .theme-popup .card{
        width: 92vw;
    }
    .left .sidebar i .notification-count{
        display: none;
    }
    .theme-popup .choose-background{
        gap: 0.2rem;
    }
    .theme-popup .choose-background > div span{
        width: 0.5rem;
        height: 0.5rem;
        border: 2px solid var(--gray-color);
        border-radius: 50%;
        margin-right: 0.5rem;
    }
}